{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

    <div class="ec-role">
        <div class="ec-featureRole">
            <h2>商品へのこだわり</h2>
            <hr>
            <p>雄大な北の大地の中でも、特に美味しい自然都環境に恵まれた八雲町。その町で育まれた良質な原料で生産された商品をより安く食卓にお届けすることをモットーにしております。</p>

            <div class="wrap">
                <h3>今金男爵</h3>
            	<div class="left">
            		<img src="{{ asset('assets/img/features/img_features01@2x.jpg') }}">
            	</div>
            	<div class="right">
            		<p>
            			今金男爵は、全国のじゃがいも生産量の中でわずか0.3%しかない「幻のじゃがいも」と呼ばれる北海道を代表する最高ブランドの男爵芋です。 <br/>今金男爵は2019年9月にGI認定されて、北海道内の産品では「夕張メロン」「十勝川西長いも」に続き3軒目のGI認定です。</p>
            	</div>
            </div>

            <div class="wrap">
                <h3>新鮮な牛乳</h3>
                <div class="left">
                    <img src="{{ asset('assets/img/features/img_features02@2x.jpg') }}">
                </div>
                <div class="right">
                    <p>八雲町の豊かな自然と空気の澄んだ冷涼な気候は、牛乳の飼育に適しています。<br/>
                    北海道酪農発祥地八雲の新鮮な牛乳を、町内の酪農家から直接届けて貰う新鮮なものであり、恵まれた自然で育まれた美味しい牧草をたっぶり食べて育った牛の牛乳は、平均の乳脂肪分約4%のスッキリとしたコクがあり、甘くさっぱりとした味わいが特徴です。</p>
                </div>
            </div>

            <div class="wrap">
                <h3>朝採りコーン</h3>
                <div class="left">
                    <img src="{{ asset('assets/img/features/img_features03@2x.jpg') }}">
                </div>
                <div class="right">
                    <p>朝採りコーンは「グラビスコーン」と言う品種で、フルーツのように甘いピュアホワイトと、とうもろこしの旨みと濃い香りが特徴のミエルコーンを掛け合わせてできた品種です。</p>
                </div>
            </div>

            <div class="wrap">
                <h3>みよい農園くりりんかぼちゃ</h3>
                <div class="left">
                    <img src="{{ asset('assets/img/features/img_features04@2x.jpg') }}">
                </div>
                <div class="right">
                    <p>北海道茅部郡森町駒ケ岳のみよいさん家のオーガニック農場で有機栽培により生産されている自慢のかぼちゃは、安心・安全は基より驚くほどの糖度と濃厚な味わいです。</p>
                </div>
            </div>

            <div class="ec-btn-top-wrap">
                <a href="https://www.ssfoods-shop.jp/products/list" class="ec-btn-top">商品のご注文はこちら <i class='bx bxs-right-arrow-alt'></i></a>
            </div>
        </div>

    </div>

{% endblock %}
