{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'お買い物ガイド'|trans }}</h1>
            <div class="ec-off1Grid ec_guide-wrap">
                <div class="ec-off1Grid__cell">
                    <h3 class="ec_sub-heading">商品注文方法</h3>
        <p>ご希望の商品ページより、数量を選択し、カートへ入れてください。<br>
        注文完了後に、ご登録のメールアドレスへご注文完了メールを配信いたします。<br>
        しばらく経ってもメールが届かない場合は、「迷惑メールフォルダ」をご確認いただくか、注文履歴よりご注文状況をご確認ください。</p>

        <div id="guide_payment"></div>
        <p>&nbsp;</p>
                    <h3 class="ec_sub-heading">お支払について</h3>
                        <p>代金引換、銀行振込を用意してございます。<br/>ご希望にあわせて、各種ご利用ください。</p>
        <div id="guide_tax"></div>
        <p>&nbsp;</p>
        <p>■代金引換手数料■<br/>
            お客様お支払額合計（商品代金+送料）が<br/>
            10,000円未満　330円<br/>
            10,000円以上～30,000円未満　440円<br/>
            30,000円以上～100,000円未満　660円<br/>
            100,000円以上～300,000円まで　1,100円<br/>
            ※お支払い金額が300,000円（税込）を超える場合はご利用できません。<br/>
            申し訳ございませんが、他の決済方法をご利用ください。<br/></p>
            <p>&nbsp;</p>
            <p>■銀行振込手数料■<br/>
            銀行振込手数料は原則としてお客様負担にてお願いいたします。<br/><br/>
            ※消費税はすべて商品代金（税込価格）に含んで表示しています。</p>

            <h3 class="ec_sub-heading">配送について</h3>
                <p>■送料■<br/>
                【北海道】北海道…930円<br/>
                【北東北】青森・秋田・岩手…1,150円<br/>
                【南東北】宮城・山形・福島…1,260円<br/>
                【関東】茨城・栃木・群馬・埼玉・千葉・神奈川・東京・山梨…1,370円<br/>
                【信越】長野・新潟…1,370円<br/>
                【北陸】富山・石川・福井…1,480円<br/>
                【中部】静岡・愛知・三重・岐阜…1,480円<br/>
                【関西】大阪・京都・滋賀・奈良・和歌山・兵庫…1,700円<br/>
                【中国】岡山・広島・山口・鳥取・島根…1,810円<br/>
                【四国】香川・徳島・愛媛・高知…1,810円<br/>
                【九州】福岡・佐賀・長崎・大分・熊本・宮崎・鹿児島…2,030円<br/>
                【沖縄】沖縄…2,030円<br/>
                ※上記すべて税込みで2kgまでの料金になります。それ以上は購入画面でご確認くださいませ。<br/>
                ※一部離島地域につきましては、別途ご連絡させていただきます。<br/>
                ※クール便マークの商品は別途クール便料金220円（税込価格）が加算されます。<br/>
                ​※クール便マークの商品とそうでない商品を一緒にお買い上げいただいた場合、同梱はできません。配送方法ごとに送料が発生します。
                </p>
            <p>&nbsp;</p>
            <h3 class="ec_sub-heading">消費税について</h3>
            <p>商品代金以外には、消費税および送料をお支払いいただきます。</p>
            <p>&nbsp;</p>
            <p>【消費税】<br/>8%（円未満四捨五入）。</p>
            <p>&nbsp;</p>
            <h3 class="ec_sub-heading">返品について</h3>
                <p>・お客様のご都合によるご返品にはご対応できかねますのであらかじめご了承ください。<br/>
                ・不良品・誤送品があった場合は商品到着後2日以内にご連絡ください。それを過ぎますと返品交換のご要望はお受けできなくなりますので、ご了承ください。<br/>
                ・一度開封された商品（開封後不良品とわかった場合を除く）、お客様の責任でキズや汚れが生じた商品の返品はお受けできません。<br/>
                ※商品到着後、中身のご確認をお願いいたします。<br/>
                ・不良品交換、誤品配送交換は当社負担とさせていただきます。</p>
            <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}