<script type="text/javascript">
    $(function () {
        $(".ec-orderConfirm").last().before($("#coupon").detach());
    });
</script>

{# クーポン情報 #}
<div id="coupon" class="ec-orderCoupon">
    <div class="ec-rectHeading">
        <h2>{{ 'plugin_coupon.front.mypage.header'|trans }}</h2>
    </div>
    <p>
        {{ 'plugin_coupon.front.mypage.body'|trans }} ： {{ coupon_cd }} {{ coupon_name}}
    </p>
</div>
