
<div class="ec-alert">
    <div class="ec-role">
        <a href="#">
            <img src="{{ asset('assets/img/top/alert_pc.png') }}" alt="" class="pc_only">
            <img src="{{ asset('assets/img/top/alert_sp.png') }}" alt="" class="sp_only">
        </a>
    </div>
</div>