<p class="band_banner clearfix">
<a href="#">
<span class="left">全品10％OFF</span>
<span class="right">期間限定セール開催中！<br class="sp_only">2020年10月31日(水)まで</span>
</a>
</p>
<style>
@media only screen and (max-width: 768px){
.ec-headerRole .ec-headerTitle__title h1{padding-left:0;}
.ec-headerNavSP{top:5px;}
.band_banner span.left {width: 53%;padding-left: 10%;}
.band_banner span.right {width: 47%;}
}
</style>