{% form_theme form 'Form/form_div_layout.twig' %}

<div id="searchModal" class="ec-searchModal">
    <div class="ec-searchModal-outer">
        <div class="ec-searchModal-inner">
            <div class="ec-searchModal-container">
                <span class="modalclose"><i class="bx bx-x"></i></span>
                <h1><i class="bx bx-search"></i>Tìm kiếm</h1>
                <form method="get" class="searchform" action="{{ path('product_list') }}">
                    <div class="ec-headerSearch__category">
                        <div class="ec-select ec-select_search">
                            {{ form_widget(form.category_id, {'id': null, 'attr': {'class': 'category_id'}}) }}
                        </div>
                    </div>
                    <div class="ec-headerSearch__keyword">
                        <div class="ec-input">
                            {{ form_widget(form.name, {'id': null, 'attr': {'class': 'search-name', 'placeholder' : 'common.search_keyword' }} ) }}
                            <button class="ec-headerSearch__keywordBtn" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    
</div>