<p class="band_banner clearfix">
<a href="#">
<span class="left">GIẢM GIÁ 10% cho tất cả các sản phẩm</span>
<span class="right">Đang trong thời hạn giảm giá<br class="sp_only">Đến 31/12/2021</span>
</a>
</p>
<style>
@media only screen and (max-width: 768px){
.ec-headerRole .ec-headerTitle__title h1{padding-left:0;}
.ec-headerNavSP{top:5px;}
.band_banner span.left {width: 53%;padding-left: 10%;}
.band_banner span.right {width: 47%;}
}
</style>