{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'front.guide.title'|trans }}</h1>
            <div class="ec-off1Grid ec_guide-wrap" id="page_help_guide">
                <div class="ec-off1Grid__cell">
                    <h3 class="ec_sub-heading">商品注文方法</h3>
                    <div>
                        ご希望の商品ページより、オプション、数量を選択し、カートへ入れてください。<br>
                        注文完了後に、ご登録のメールアドレスへご注文完了メールを配信いたします。<br>
                        しばらく経ってもメールが届かない場合は、「迷惑メールフォルダ」をご確認いただくか、注文履歴よりご注文状況をご確認ください。
                    </div>
                    <h3 class="ec_sub-heading">お支払について</h3>
                    <div>
                        ●お支払い方法は、クレジットカード（VISA、Master、JCB、Diners、Amex)、 代金引換、銀行振込・郵便振替、コンビニ・郵便局後払いがご利用できます。<br>
                        ●代金引換は送料とは別に手数料がかかります。<br>
                        1万円未満は：330円<br>
                        1万円以上〜3万円未満：440円<br>
                        3万円以上～10万円未満：660円<br>
                        30万以下：1,100円<br>
                        ●銀行振込・郵便振替の場合は振込（振替）手数料はお客様のご負担でお願いします。<br>
                        ●コンビニ・郵便局後払いの場合は後払い手数料：一律660円（請求書発行代込）です。
                    </div>
                    <h3 class="ec_sub-heading">配送について</h3>
                    <div>
                        配送は宅急便又はクリックポストにてお届けいたします。<br>
                        海外発送は受け付けておりません。<br><br>

                        【送料～160cmまで】<br>
                        北海道(離島は除く）770円(税込)<br>
                        本州(九州まで)1,320円(税込)<br>
                        沖縄離島2,200円(税込)<br><br>

                        【送料180cm～】<br>
                        北海道（離島は除く）1,540円(税込)<br>
                        本州(九州まで)2,640円(税込)<br>
                        沖縄離島4,400円(税込)<br>
                        商品代金以外には、消費税および送料をお支払いいただきます。<br><br>

                        【北海道で法人受取可能な方（離島を除く】<br>
                        一個：550円（税込）運送会社の指定は出来ません。松岡マン運輸様、札幌急配様で配送します。また、時間指定も出来かねます。
                    </div>
                    <h3 class="ec_sub-heading">消費税</h3>
                    <div>
                        10%（円未満四捨五入）。
                    </div>

                    <h3 class="ec_sub-heading">返品について</h3>
                    <div>
                        商品到着後1週間以内は、未開封の場合に限り、返品・交換を承ります。（セット商品は、セットされていた商品すべてが未開封の場合に限ります。）<br><br>

                        ◆商品不良による返品の場合<br>
                        商品交換対応とさせていただきます。<br>
                        商品不良においても、商品到着後1週間以内に当店宛てにご連絡ください。期限を過ぎますと、当店に不手際があった場合、およびお客様のご都合によるご返品の場合のいずれにつきましても、返品をお受けできかねますこと、ご了承いただけますようお願いいたします。<br><br>

                        ◆返品の送料・手数料の負担について<br>
                        お客さまのご都合による場合は送料をご負担いただきます。返品・交換の際は、宅配便、ゆうパック等、発送した証明が残る形態でご返送いただき、お手元に送り状の控えを保管してください。<br><br>

                        ◆返金について<br>
                        返品商品到着確認後10日以内にご指定口座にお振込いたします。（夏期休業、年末年始休業の場合、通常よりお時間をいただく場合がございます。予めご了承下さい。）また、お振込み手数料などはお客さまのご負担になります。<br><br>

                        ◆返品連絡先<br><br>

                        白崎繊維工業株式会社<br>
                        電話番号：011-861-4146（受付時間：午前9時～午後6時（土・日・祝日・夏季休暇・年末年始を除く））<br>
                        ＦＡＸ：011-862-8640<br>
                        メールアドレス： watayuki-honten@sirasaki.co.jp<br>
                        返送先住所：〒003-0028 札幌市白石区平和通3丁目南1-4
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}