{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ご利用ガイド'|trans }}</h1>
            <div class="ec-off1Grid ec_guide-wrap">
                <div class="ec-off1Grid__cell">
                    <h3 class="ec_sub-heading">商品注文方法</h3>
                        <p>ご希望の商品ページより、オプション、数量を選択し、カートへ入れてください。<br>
        注文完了後に、ご登録のメールアドレスへご注文完了メールを配信いたします。<br>
        しばらく経ってもメールが届かない場合は、「迷惑メールフォルダ」をご確認<br>
        いただくか、注文履歴よりご注文状況をご確認ください。</p>
        <div id="guide_payment"></div>
        <p>&nbsp;</p>
                    <h3 class="ec_sub-heading">お支払について</h3>
                        <p>●お支払い方法は、銀行振込、クレジットカード（VISA、Master、JCB、Diner、Amex)、 代金引換がご利用できます。<br> 
                        ●代金引換は送料とは別に手数料がかかります。<br>
                        　1万円未満は：330円<br>
                        　1万円以上〜３万円未満：440円<br>
                        　3万円以上～10万円未満：660円<br>
                        　30万以下：1,100円</p>
        <div id="guide_tax"></div>
        <p>&nbsp;</p>
                    <h3 class="ec_sub-heading">配送について</h3>
                        <p>配送は宅急便又はクリックポストにてお届けいたします。<br>
        海外発送は受け付けておりません。<br>
        <br>
        【送料】<br>
        　本州(九州まで)660円(税込)<br>
        　北海道1650円(税込)<br>
        　沖縄離島1870円(税込)<br>
        <br>
        *ウイルキラーの総重量により、送料の金額が変動しますので、ご注意ください。<br>
        代金引換は別途手数料がかかります。</p>
        <p>&nbsp;</p>
                    <h3 class="ec_sub-heading">消費税について</h3>
                        <p>商品代金以外には、消費税および送料をお支払いいただきます。<br>
        <br>
        【消費税】<br>
        10%（円未満四捨五入）。</p>
        <p>&nbsp;</p>
                    <h3 class="ec_sub-heading">返品について</h3>
                        <p>原則、お客様ご都合による返品や返金はお受けできません。<br>
        <br>
        商品不良による返品の場合は、商品交換対応とさせていただきます。<br>
        商品不良においても、商品到着後７日以内に当店宛てにご連絡ください。<br>
        <br>
        期限を過ぎますと、当店に不手際があった場合、およびお客様のご都合に<br>
        よるご返品の場合のいずれにつきましても、返品をお受けできかねますこと、ご了承いただけますようお願いいたします。</p>
        <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}