{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">1.個人情報の収集</div>
                <p>このプライバシー・ポリシーに述べられている「個人情報」とは、お客様の氏名、住所、電話番号、電子メールアドレス等の、個人を特定することができる情報を指します。当社では、お客様によりよいサービスをご提供するために、お買物、キャンペーンへのご応募、メールマガジンの申し込み等をしていただく際に、お客様の個人情報を収集することがあります。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">2.個人情報の管理・保護について</div>
                <p>当社がお客様の個人情報を管理する際は、管理責任者を置き、適切な管理を行い、外部への流出防止に努めます。
また、外部からの不正アクセス又は紛失、破壊、改ざん等の危険に対しては、適切かつ合理的なレベルの安全対策を実施し、お客様の個人情報の保護に努めます。<br>
当社は個人情報に係るデータベース等へのアクセスについては、アクセス権を有する者を限定し、社内においても不正な利用がなされないように厳重に管理します。<br>
また、役員及び従業員に対し、個人情報の保護及び適正な管理方法についての教育を実施し、日常業務における個人情報の適正な取り扱いを徹底いたします。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">3.個人情報の利用</div>
                <p>取得した個人情報は、事業運営に関する下記の業務に利用するものとします。<br>
                    なお、個人情報を直接書面で取得した場合、また直接書面以外で取得した場合（お電話・FAXによるご注文）においても同様です。<br>

・お客様のご要望どおりに間違い無く商品をお届けするため<br>
・商品代金の決済及び与信判断、債権管理のため<br>
・各種お問合わせや健康に関するご相談及びアフターサービス対応のため<br>
・当社からのお知らせ（メールマガジン及びハガキや冊子などの印刷物）をお送りさせていただくため<br>
・統計的に処理した個人情報を集約し、商品の開発及びマーケティング、サービスの向上等に役立てるため<br>
・賞品の当選発表及び商品の発送のため<br>
・コメント及び体験談のご投稿内容を、各サイト及びメールマガジン、広告媒体等で公開するため<br>
・お客様のご要望どおりに間違い無くモニター商品をお届けするため<br>
・モニターにご参加いただいたお客様に、当社からのお知らせ（メールマガジン及びハガキや冊子などの印刷物）をお送りさせていただくため<br>
・IR活動に関するご案内をお送りさせていただくため<br>
・従業員（採用応募者、退職者含む）の雇用や労務管理のため<br>
・その他上記に付随する業務に利用するため<br>
※お客様との電話応対時においては、ご注文・ご意見・ご要望・お問合わせ内容等の正確な把握、今後のサービス向上のために、通話を録音させていただく場合があります。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">4.個人情報の提供</div>
                <p>当社では、お客様の許可なく第三者にお客様の個人情報を提供することはありません。ただし、業務によっては外部の業者に委託する場合があるため、当社は、お客様により提供された個人情報を、他の目的に使用しない義務を課した上で、当該業務の遂行上当然必要と思われる範囲において当該業者に開示することがあります。なお、当社は、各国の法令による開示の要求があった場合に、お客様の個人情報を開示することがあります。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">5.個人情報の開示及び訂正等</div>
                <p>当社は、お客様から自らに関する個人情報の訂正、削除のお申し出があったときは、遅滞なくその調査を行います。この場合、訂正、削除の必要とする事由があるときは、遅滞なく訂正、削除を行います。</p>
            </div>
        </div>
<br>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">6.Cookie：クッキーについて</div>
                <p>当社では、利用者により快適なサービスを提供するため、クッキーを利用しています。</p>
            </div>
        </div>
<br>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <b>クッキー（Cookie）とは</b>
                <p>クッキーとはアクセスした際に利用者のコンピュータ（またはスマートフォンやタブレットなどのインターネット接続可能な機器）上に保存される情報（テキストファイル）です。<br>
<br>
クッキーを利用することにより、ウェブサイト訪問回数や訪問ページ等の情報を取得することができます。クッキーを通じて収集する情報には、利用者を特定、識別できる個人情報は一切含まれていません。<br>
また、ブラウザの設定によりクッキーの機能を無効にすることもできます。クッキーの機能を無効にしても本サイトの利用には問題ありません。</p>
            </div>
        </div>
<br>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <b>電子メール配信について</b>
                <p>弊社は、本サイトのニュースレター登録ページまたはお問い合わせフォームにて、弊社による登録情報の利用を同意された利用者に電子メールを配信するにあたり、以下の情報を取得する場合があります。<br>
<br>
電子メールの開封またはプレビュー状況(Webビーコンを使用)<br>
電子メール記載のリンクからの弊社ウェブサイトへのアクセス情報<br>
<br>
※Webビーコンとは<br>
Webビーコンとは、ウェブページやHTML形式の電子メールに埋め込まれた目視では確認できない微細画像情報であり、閲覧情報を収集するために利用されます。これにより利用者のウェブページの閲覧情報／電子メールの開封／プレビュー状況を蓄積します</p>
            </div>
        </div>
<br>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <b>利用目的</b>
                <p>弊社では下記の目的でクッキーを利用いたします。<br>
<br>
<b>【利便性の向上】</b><br>
利用者の過去のにアクセス情報に基づき、最適なコンテンツをご提供するためにクッキーを利用します。<br>
<br>
<b>【利用状況把握と品質向上】</b><br>
本サイトの利用状況を把握することにより、品質向上及び利用者の関心やニーズにより適したコンテンツを提供するための参考としてクッキーを利用します。<br>
<br>
また、本サイトでは、利用状況把握、コンテンツの品質向上のために、Google LLC（以下、Google社）が提供するGoogleアナリティクスを利用しています。<br>
<br>
適切なコンテンツを提供するため、Googleアナリティクスの「ユーザー属性とインタレストカテゴリに関するレポート」を使用しています。Google アナリティクスは、クッキーを利用して本サイトの閲覧等の情報（以降「利用者情報」）を収集します。<br>
<br>
尚、Google アナリティクスが収集、記録、分析した利用者情報には、特定の個人を識別する情報は一切含まれません。また、それらの情報は、Google 社により同社のプライバシーポリシーに基づき管理されます。Google アナリティクスの利用規約についてはGoogle Analyticsのサイトを、Google 社のプライバシーポリシーについては同社のサイトをご覧ください。<br>
<br>
<a href="https://www.google.com/analytics/terms/jp.html" target="_blank" rel="noopener">Google アナリティクスの利用規約 （外部リンク）</a><br />
<a href="https://www.google.com/analytics/terms/jp.html" target="_blank" rel="noopener">https://www.google.com/analytics/terms/jp.html</a><br />
<br />
<a href="https://policies.google.com/privacy?hl=ja" target="_blank" rel="noopener">Googleのプライバシーポリシー （外部リンク）</a><br />
<a href="https://policies.google.com/privacy?hl=ja" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=ja</a><br />
<br>
Google Analyticsは、Google社によるオプトアウトアドオンのダウンロードページから「Google Analyticsオプトアウトアドオン」を利用者のコンピューターにダウンロードし、当該コンピューターにインストールの後、ブラウザのアドオン設定を変更することで無効化できます。<br>

<a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank" rel="noopener">Google Analytics Opt-out Add-on (外部リンク)</a><br>
<a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank" rel="noopener">https://tools.google.com/dlpage/gaoptout?hl=ja</a></p>
            </div>
        </div>
        
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">7.社内体制の整備</div>
                <p>当社は、プライバシーポリシーに基づき、個人情報の保護に関する社内規定を整備し、当社の役員・従業員に対し、個人情報の取扱いについて明確な方針を示し、お客様の個人情報の保護に努めます。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">8.見直し</div>
                <p>このプライバシー・ポリシーは、改善することが必要であると当社が判断した場合、お客様に対する予告なく変更されることがあります。プライバシー・ポリシー変更後に個人情報の提供が必要な当社のサービスをご利用いただいた場合、変更に同意されたものとみなします。</p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">9.お問合せ</div>
                <p>お客様の個人情報に関するお問合せについては、<a href="mailto:{{ BaseInfo.email02 }}">{{ BaseInfo.email02 }}</a>で受け付けております。お客様ご本人からの問い合わせに限り、合理的な範囲で対応いたします。</p>
            </div>
        </div>
    </div>
{% endblock %}