<div class="ec-banner">
    <div class="ec-role">
        <div class="ec-bannerItem">
            <a href="#">
                <img src="{{ asset('assets/img/dummy/square4.jpg') }}" alt="">
            </a>
        </div>
        <div class="ec-bannerItem">
            <a href="#">
                <img src="{{ asset('assets/img/dummy/square5.jpg') }}" alt="">
            </a>
        </div>
        <div class="ec-bannerItem">
            <a href="#" target="_blank">
                <img src="{{ asset('assets/img/dummy/square.jpg') }}" alt="">
            </a>
        </div>
        <div class="ec-bannerItem">
            <a href="#">
                <img src="{{ asset('assets/img/dummy/square6.jpg') }}" alt="">
            </a>
        </div>
    </div>
</div>